body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
header .logo-accent {
    color: #4D5AE5;
}
h1, h2, h3, p, a, button {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
h1 {
    font-size: 56px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 400;
}

link {
    font-size: 15px;
    font-weight: 400;
}

.logo-accent {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    color: #2E2F42;
    text-decoration: none;
}

.site-footer p {
    color: #f4f4fd;
}
.site-footer .logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    color: #f4f4fd;
    text-decoration: none;
}

.site-footer .logo-accent {
    color: #4d5ae5;
}

.hero {
    background-color: #2E2F42;
    
}
.hero-title {
    color: #FFFFFF;
    font-family: "Roboto";
    text-align: center;
    font-size: 56px;
    font-weight: 700;
}
.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}
.button:hover,
.button:focus {
    background-color: #404bbf;
}
.section-title {
    background-color: #f4f4fd;
}
.team {
    text-align: center;
    background-color: #F4F4FD;
}
.team-list li {
    background-color: #ffffff;
}
.team-name {
    text-align: center;
    color: #2E2F42;
    font-size: 20px;
}
.team-position {
    text-align: center;
    color: #434455;
    font-size: 16px;
}

.portfolio-title {
    color: #2E2F42;
    font-family: "Roboto";
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
.portfolio-list {
    color: #2E2F42;
    
}
.site-footer {
    background-color: #2E2F42;
    color: #f4f4fd;
}

.page-nav .link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
}
.page-nav .link:hover,
.page-nav .link:focus,
.page-nav .link:active {
    color: #404BBF;
}

.contact-nav {
    font-style: normal;
}
.contact-nav .link {
    color: #434455;
}
.contact-nav .link:hover,
.contact-nav .link:focus,
.contact-nav .link:active {
    color: #404BBF;
}