body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
header .logo-accent {
    color: #4D5AE5;
}
.link {
    list-style-type: none;
    text-decoration: none;
}
.logo-accent {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    color: #2E2F42;
    text-decoration: none;
}

.site-footer .logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.site-footer .logo-accent {
    color: #4D5AE5;
}

.hero {
    background-color: #2E2F42;
    
}
.hero-title {
    color: #FFFFFF;
    font-family: "Roboto", bold;
    text-align: center;
    font-size: 56px;
}
.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
}
.section-title {
    text-align: center;
    background-color: #F4F4FD;
    color: #2E2F42;
    font-size: 36px;
}
.team-name {
    text-align: center;
    color: #2E2F42;
    font-size: 20px;
}
.team-position {
    text-align: center;
    color: #434455;
    font-size: 16px;
}
.portfolio {
    color: #2E2F42;
    font-family: "Roboto", bold;
    text-align: center;
    font-size: 36px;
}
.portfolio-list {
    color: #2E2F42;
    
}
.site-footer {
    background-color: #2E2F42;
    color: #FFFFFF;
}

.page-nav .link {
    color: #2E2F42;
    font-weight: 500;
}
.page-nav .link:hover,
.page-nav .link:focus,
.page-nav .link:active {
    color: #404BBF;
}

.contact-nav {
    font-style: normal;
}
.contact-nav .link {
    color: #434455;
}
.contact-nav .link:hover,
.contact-nav .link:focus,
.contact-nav .link:active {
    color: #404BBF;
}